@model SA.Models.Departamento
@{
    ViewBag.Title = "FormAltera";
}
<div>
    <h3>Alteração de Departamento</h3>
</div>
<br />
    @using (Html.BeginForm("Alterar", "Departamento", FormMethod.Post))
    {
        @Html.HiddenFor(d => d.Id)
        <div class="form-group">
            @Html.Partial("_FormDepartamento")
        </div>

        <div class="text-center">
            <input type="submit" value="Alterar" class="btn btn-primary" />
        </div>
    }
@if (!ViewBag.ModeloValido)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-alert"></span>
        @Html.ValidationMessage("Departamento Inválido")
        @Html.ValidationMessageFor(d => d.Departamentos)
    </div>
        }
@section Scripts {
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>    
    <script src="~/Content/Scripts/bootstrap.min.js"></script>    }