@model IList<SA.Models.Departamento>
@{
    ViewBag.Title = "Index";
}



<div class="thumbnail text-right">

    <button type="button" class="btn btn-default">
        @Html.ActionLink("Novo Departamento", "FormInclui", "Departamento")
    </button>
</div>

    <table class="table table-bordered">
        <thead>
        <th>Id</th>
        <th>Departamento</th>
        <th colspan="2">Opções</th>
        </thead>
        <tbody>
            <br />
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Departamentos</td>
                    <td><a href=@Url.Action("FormAltera", "Departamento",new { id = d.Id })><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href=@Url.Action("Excluir","Departamento",new { id = d.Id })><i class="glyphicon glyphicon-erase"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

    <div id="result"</div>
 

@section Scripts
{
   <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>   
    <script type="text/javascript">

        $(function () {
            $("#FormLogin").on("click", function (e) {
                e.preventDefault();
                
                $.ajax({
                    url: "Departamento/FormInclui",
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#result").html(data);
                    }
                });
            });
        });
    </script>
}