@model IList<SA.Models.Departamento>
@{
    ViewBag.Title = "Index";
}



<div class="thumbnail text-right">

    <button type="button" class="btn btn-default" id="btnNewDep">Novo Departamento</button>
    

</div>

    <table class="table table-bordered table-responsive table-condensed table-hover table-striped"">
        <thead>
        <th>Id</th>
        <th>Departamento</th>
        <th>Centro de Custo</th>
        <th colspan="2">Opções</th>
        </thead>
        <tbody>
            <br />
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Departamentos</td>
                    <td>@d.CentroCusto</td>
                    <td><a href=@Url.Action("FormAltera", "Departamento",new { id = d.Id })><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href=@Url.Action("Excluir","Departamento",new { id = d.Id })><i class="glyphicon glyphicon-erase"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

    <div id="result"</div>
 

@section Scripts
{
   
    
    <script type="text/javascript">
        var urlNewDep = "@Url.Action("FormInclui","Departamento")"       

        var btnNovoDep = document.getElementById("btnNewDep");
        btnNovoDep.onclick = function () {
            window.location.replace(urlNewDep);
        }
    </script>
}