@model IList<SA.Models.Departamento>
@{
    ViewBag.Title = "Index";
}
<br />
@Html.ActionLink("Novo Departamento", "FormInclui", "Departamento")
<br />
<center>
    <table>
        <thead>
        <th>Id</th>
        <th>Departamento</th>
        <th colspan="2">Opções</th>        
        </thead>
        <tbody>
            <br />
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Departamentos</td>
                    <td><a href=@Url.Action("FormAltera", "Departamento",new { id = d.Id })><i class="material-icons">mode_edit</i></a>@*@Html.ActionLink("Alterar", "Alter", "Departamento", new { id = d.Id },new { @class = "icon-mode-edit:before" })*@</td>
                    <td><a href=@Url.Action("Excluir","Departamento",new { id = d.Id })><i class="material-icons">delete_forever</i></a>@*@Html.ActionLink("Excluir", "Delete", "Departamento", new { id = d.Id })*@</td> 
                </tr>
            }
        </tbody>
    </table>
</center>