@model IList<SA.Models.Solicitacao>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<div class="page-header">
    <h5>@ViewBag.Usuario.Requerente <small>Solicitações Feitas</small></h5> 
</div>

@section Scripts {
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>    
    <script src="~/Content/Scripts/bootstrap.min.js"></script>    }