@model IList<SA.Models.Solicitacao>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<div class="page-header">
    <h5>@ViewBag.Usuario.Requerente <small>Solicitações Feitas</small></h5> 
</div>

@section Scripts {
          }