@model SA.Models.Departamento
@{
    ViewBag.Title = "FormInclui";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    @using (Html.BeginForm("Adiciona", "Departamento", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Partial("_FormDepartamento")
        </div>
        <div class="text-center">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    }
@if (!ViewBag.ModeloValido)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-alert"></span>
        @Html.ValidationMessage("Departamento Inválido")
        @Html.ValidationMessageFor(d => d.Departamentos)
    </div>
        }

