.fundodocorpo {
    margin: 0;
	padding: 0;
	font-family: RobotoDraft, Roboto, Arial, sans-serif;
	background-color: #fcfcfc;
	color: rgba(0, 0, 0, 0.87);
}

/*Menu*/
.dropbtn {
            background-color: #3C8CAD;
            color: white;
            padding: 13px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            padding-left: 100px;
        }

        .dropdown {
            position: fixed;
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #BFE0EF;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #A9D6EB;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #69AECB;
        }
        /*O nome já diz tudo, mas se está com dúvida é o fundo do menu*/
        .fundo-estranho{
			 background: rgba(60, 140, 173, 0.28);		
			height: 45px;

		}
        /*Fundo do Header*/
        .cabecalho{
        
            position: relative;
            margin-top: -65px;
            left:50%;
            right:50%;
            transform: translate(-35%, 0%);
            height: 45px;
        }

        /*Tabela*/
        
.tabelaSolic {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;   
}
.tr {
  display: table-row;
  background: #f6f6f6;
}
.headert {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.rgreen {
  background: #3c8cad;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

/*Mensagens de erro*/
.errormessage{
    color: red;
}