@model SA.Models.Funcao


<div class="form-group">
    <fieldset>
        <legend>Inclusão de Função</legend>
        @Html.LabelFor(d => d.Funcoes, "Nome da Função:")
        @Html.TextBoxFor(d => d.Funcoes, new { @class = "form-control" })
    </fieldset>
</div>