@model SA.Models.Departamento

<table class="table table-bordered">
   
    <tbody>
        <tr>
            <td>@Html.LabelFor(d => d.Departamentos, "Departamento")</td>
            <td>
                @Html.TextBoxFor(d => d.Departamentos, new { @class = "form-control" })
            </td>
        </tr>
    </tbody>
</table>