<!DOCTYPE	html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/padrao.css" /> 
    @RenderSection("ScriptsHead", false)
    <title>Solicitações ao Almoxarifado</title>    
</head>
<body>       
    <header class="col-lg-12 col-md-12 col-xs-12 col-sm-12">        
        @Html.Partial("_Menu")        
    </header>    
        <main>
            <div class="thumbnail col-lg-12 col-md-12 col-xs-12 col-sm-12">
                @RenderBody()
            </div>
        </main>        
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h6>Sistema de solicitação de peças ao Almoxarifado - DPS Sistemas</h6>
                </div>                
            </div>
        </div>
    </footer>
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
</body>
@RenderSection("Scripts", false)
</html>