<!DOCTYPE	html>
<html>
<head>
    <title>Solicitações ao Almoxarifado</title>
    <link href="~/Content/Css/material.css" rel="stylesheet" /> 
    <link href="~/Content/Css/solicitacao.css" rel="stylesheet" /> 
    <script src="~/Scripts/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="fundodocorpo">
    @Html.Partial("_Menu")   
    <header style="background-color:beige">
        <center>
            <table>
                <tr>
                    <td><i class="material-icons" style="font-size:48px; color:#FFB600">assignment</i></td>
                    <td width="50px"></td>
                    <td><h1>SOLICITAÇÕES AO ALMOXARIFADO</h1></td>
                </tr>
            </table>
            <br />
        </center>
    </header>
    <div class="conteudo">
        <main>
            @RenderBody()
        </main>       
    </div>
</body>
@RenderSection("Scripts", false)    
</html>