<div class="fundo-estranho">
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            @Html.ActionLink("Sair", "Index", "Login")           
            @Html.ActionLink("Usuários", "ListaUsuarios", "Login")
            @Html.ActionLink("Departamentos", "Index", "Departamento")
            @Html.ActionLink("Funções", "Index", "Funcao")
        </div>
    </div>
</div>
        <div class="cabecalho">
            <table>
                <tr>
                    <td style="padding-right: 10px"><i class="material-icons" style="font-size:48px; color:#FFB600">assignment</i></td>                    
                    <td><h1>SOLICITAÇÕES AO ALMOXARIFADO</h1></td>
                </tr>
            </table>
            <br />
        </div>


