@model SA.Models.Funcao
@{
    ViewBag.Title = "FormInclui";
    
}
<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Adiciona", "Funcao", FormMethod.Post))
        {
            
             @Html.Partial("_FormFuncao")            
            <div class="text-center">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
    



@if (!ViewBag.ModeloValido)
{ <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-alert"></span>
        @Html.ValidationMessage("Funcao Inválido")
        @Html.ValidationMessageFor(d => d.Funcoes)
    </div>
        }
@section Scripts {
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>    
    <script src="~/Content/Scripts/bootstrap.min.js"></script>    }