@model IList<SA.Models.Funcao>
@{
    ViewBag.Title = "Index";
}
<div class="thumbnail text-right">

    <button type="button" class="btn btn-default">
       @Html.ActionLink("Nova Funcao", "FormInclui", "Funcao")
    </button>
</div>


    <table class="table table-bordered">
        <thead>
        <th>Id</th>
        <th>Funcao</th>
        <th colspan="2">Opções</th>        
        </thead>
        <tbody>
            <br />
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Funcoes</td>
                    <td><a href=@Url.Action("FormAltera", "Funcao",new { id = d.Id })><i class="glyphicon glyphicon-edit"></i></a>
                    <td><a href=@Url.Action("Excluir","Funcao",new { id = d.Id })><i class="glyphicon glyphicon-erase"></i></a>
                </tr>
            }
        </tbody>
    </table>
