@model IList<SA.Models.Funcao>
@{
    ViewBag.Title = "Index";
}
<div class="thumbnail text-right">

    <button type="button" class="btn btn-default" id="btnfuncao">Nova Função</button>
</div>


    <table class="table table-bordered">
        <thead>
        <th>Id</th>
        <th>Funcao</th>
        <th colspan="2">Opções</th>        
        </thead>
        <tbody>
            <br />
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Funcoes</td>
                    <td><a href=@Url.Action("FormAltera", "Funcao",new { id = d.Id })><i class="glyphicon glyphicon-edit"></i></a>
                    <td><a href=@Url.Action("Excluir","Funcao",new { id = d.Id })><i class="glyphicon glyphicon-erase"></i></a>
                </tr>
            }
        </tbody>
    </table>
@section Scripts {
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        var urlNewDep = "@Url.Action("FormInclui", "Funcao")"       

        var bntfuncao = document.getElementById("btnfuncao");
        btnfuncao.onclick = function () {
            window.location.replace(urlNewDep);
        }
    </script>

    }