@model SA.ViewModel.Login
    
<br />
   @using (Html.BeginForm("ValidarLogin", "Login", FormMethod.Post, new { id = "FormLogin" }))
   {
    <div class="form-group text-center" >        
        @Html.TextBoxFor(l => l.Cpf, new { rows = 11, @class="form - control", @placeholder="Informe se CPF..." })                    
        <input type="submit" class="btn btn-primary" value="Logar" />
    </div>
    
   }
<br />
<div id="result"></div>    

@section Scripts
{   
<script src="~/Content/Scripts/jquery-3.2.1.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>   




     <script type="text/javascript">
        $(function () {
            $("#FormLogin").on("submit", function (e) {                
                e.preventDefault();                
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response != null && response.success) {
                            var url = "@Url.Action("Index", "Home")";
                            window.location.replace(url);
                        } else {
                            $("#result").html('<div class="alert alert-danger text-center">Login Inválido!</div>');
                        }

                    },
                    error: function (response) {
                        $("#result").html("Login Inválido!");
                    }
                });
            });
        });
    </script>

}