@model SA.Models.Usuario
@{
    ViewBag.Title = "NovoLogin";
}


    @using (Html.BeginForm("Add", "Login", FormMethod.Post))
    {
        <fieldset>
            <legend>Cadastro de Usuário</legend>
            @Html.Partial("_FormLogin")
        </fieldset>
        <div class="text-center">
            <input type="submit" value="Gravar" class="btn btn-primary" />
        </div>
        
    }


@section Scripts {
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}